<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SITIO INSTITUCIONAL </title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="https://storage.googleapis.com/ofernandez/web_server/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- SIDE MENU STYLE CSS -->
    <link href="https://storage.googleapis.com/ofernandez/web_server/assets/css/component.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="https://storage.googleapis.com/ofernandez/web_server/assets/css/style.css" rel="stylesheet" />

    <!-- CORE JQUERY  -->
    <script src="https://storage.googleapis.com/ofernandez/web_server/assets/plugins/jquery-1.10.2.js"></script>
    <script src="https://storage.googleapis.com/ofernandez/web_server/assets/js/getVisits.js" id="getVisits" key="home" counter-url='{{url}}'></script>
</head>
<body class="cbp-spmenu-push">

    <!-- MAIN HEADING-->
    <div class="for-full-back color-bg-one" id="main-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 class="pad-adjust"><i class="fa fa-plus faa-pulse animated"></i>Facultad de Ingenieria</h1>
                </div>
            </div>
        </div>
    </div>
    <!--END MAIN HEADING-->
    <!--LEFT SLIDE MENU-->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3>Facultad de Ingenieria</h3>
        <a href="/home"><i class="fa fa-home fa-3x"></i>HOME</a>
        <a href="/about"><i class="fa fa-info fa-3x"></i>ABOUT</a>
        <a href="/jobs"><i class="fa fa-search fa-3x"></i>JOBS</a>
    </nav>

    <div class="row" id="icon-left">
        <div class="col-md-12">
            <span id="showLeftPush" class="fa fa-cut fa-4x faa-horizontal animated ">Menu</span>
        </div>
    </div>
    <!--END LEFT SLIDE MENU-->

    <!--HOME SECTION-->
    <div class="container" id="home">
        <div class="row text-center">
            <div class="col-md-12">
                <span class="head-main">NOW OR NEVER</span>
                <h2 class="head-sub-main">Lorem ipsum dolor</h2>
                <h3 class="head-last">Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</h3>
                <a href="/about" class="btn btn-danger btn-lg head-btn-one">MORE INFO</a> &nbsp;  <a href="/jobs" class="btn btn-primary btn-lg">SEE JOBS</a>
            </div>
        </div>
    </div>
    <!--END HOME SECTION-->

    <!--FOOTER SECTION -->
    <div class="for-full-back color-bg-one" id="footer">
        Visits: <span id="page-visits"></span>
    </div>
    <!-- END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="https://storage.googleapis.com/ofernandez/web_server/assets/plugins/bootstrap.js"></script>
    <!-- SIDE MENU SCRIPTS -->
    <script src="https://storage.googleapis.com/ofernandez/web_server/assets/js/modernizr.custom.js"></script>
    <script src="https://storage.googleapis.com/ofernandez/web_server/assets/js/classie.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="https://storage.googleapis.com/ofernandez/web_server/assets/js/custom.js"></script>

</body>
</html>
